<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body>
    <h1>INDEX</h1>
    <nav><a href="/products/new">List a new product</a></nav>
    <ul>
        <% productsIndex.forEach(productsI=> { %>
            <li>
                <a href="/products/<%=productsI._id; %>"><%=productsI.name;%></a>
            <!-- <form action="/products/<%=productsI._id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form> -->
            </li>
            <% }) %>

    </ul>
</body>

</html>